

:root {
  --bg-grey: #f7f7f7;
  --beige: #fcf1f0;
  --black: #333333;
  --black-shadow: rgba(0, 0, 0, .3);
  --black-table: #212529;
  --real-black: #000000;
  --blue-bg: #dbf1fa;
  --blue-bg-table: #e5f2f9;
  --burgundy: #942151;
  --burgundy25: #e4c7d3;
  --burgundy50: #c990a8;
  --burgundy75: #af597d;
  --cyan: #0079c8;
  --cyan25: #bfddf1;
  --cyan50: #7fbce3;
  --cyan75: #409bd6;
  --cyan-active: #00548C;
  --cyan-link: #1976d2;
  --cyan-focus: #00568f;
  --dark-orange: #e94900;
  --dark-pink: #9c2d6f;
  --darkred: #b3220e;
  --focused-shadow: rgba(0, 86, 143, 0.4);
  --general-grey: #E6E6E6;
  --green: #007a3d;
  --grey: #6c6e71;
  --grey25: #dadbdb;
  --grey50: #b5b6b8;
  --grey65: #979797;
  --grey75: #919295;
  --grey-placeholder: #9e9898;
  --grey-chat: #989898;
  --grey-chat-msg: #f0f0f0;
  --grey-control-container: #f1efeb;
  --input-shadow: rgba(0, 0, 0, 0.2);
  --nav-shadow: rgba(0, 0, 0, 0.15);
  --navy: #00335b;
  --orange: #fe5000;
  --pagination-shadow: rgba(0, 0, 0, 0.25);
  --pink: #c6007e;
  --purple: #a4219b;
  --red: #d81e05;
  --error-red: #db3907;
  --red-invalid: #fae4e1;
  --required-shadow: rgba(216, 30, 5, 0.4);
  --teal: #008385;
  --teal25: #bfe0e0;
  --teal50: #7fc1c2;
  --teal75: #40a2a4;
  --white: #ffffff;
  --white85: rgba(255, 255, 255, 0.85);
}
    