// Grid 12 columnas
// -------------------------

$sizes: (
sm: null,
md: $screen-tablet-portrait,
lg: $screen-tablet-landscape,
xl: $screen-desktop
);

@mixin grid-col-numbered($column) {
  flex-basis: 100% / 12 * $column;
  max-width: 100% / 12 * $column;
}

@mixin grid-breakpoint($breakpoint) {
  @if $breakpoint {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @content;
  }
}

.o-grid {
  @include sas-rem(
    (
      margin-left: -4px,
      margin-right: -4px
    )
  );
  @include sas-tablet-landscape-up {
    @include sas-rem(
      (
        margin-left: -8px,
        margin-right: -8px
      )
    );
  }
  display: flex;
  flex-wrap: wrap;

  &__cell {
    @include sas-rem(( padding-right: 4px, padding-left: 4px));
    flex: 0 0 auto;
    @include sas-tablet-landscape-up {
      @include sas-rem(
        (
          padding-left: 8px,
          padding-right: 8px
        )
      );
    }
  }

  @each $size, $breakpoint in $sizes {
    @include grid-breakpoint($breakpoint) {
      &__cell--#{$size} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }

      @for $i from 1 through 12 {
        &__cell--#{$size}-#{$i} {
          @include grid-col-numbered($i);
        }
      }
    }
  }
}
