// Botones
// -------------------------
$module: '.o-btn';
#{$module} {
  @include sas-rem( ( font-size: 14px, height: 48px, padding-left: 14px, padding-right: 14px));
  background-color: $color-cerulean;
  border-radius: 4px;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  outline: none;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  width: 100%;
  &__wrap {
    align-items: center;
    display: flex;
    font-weight: 400;
    height: 100%;
    justify-content: center;
  }
  &__ico {
    &-left {
      @include sas-rem(margin-right, 8px);
    }
    &-right {
      @include sas-rem(margin-left, 8px);
    }
  }
  &--secondary {
    background-color: $color-white;
    border: 1px solid $color-cerulean;
    color: $color-cerulean;
  }
  &--terciary {
    background-color: $color-pale-grey;
    color: $color-cerulean;
  }
  &--left {
    text-align: left;
    #{$module}__wrap {
      justify-content: flex-start;
    }
  }
  &--flow {
    @include sas-tablet-desktop-only {
      #{$module}__flow {
        @include sas-rem(font-size, 13px);
      }
      #{$module}__block {
        display: block;
      }
    }
  }
  &--download {
    @include sas-rem( ( font-size: 14px));
    padding-left: 0;
    padding-right: 0;
    #{$module}__wrap {
      @include sas-rem( ( padding-left: 80px, padding-right: 40px));
      align-items: flex-start;
      flex-direction: column;
      line-height: 1.2;
      position: relative;
      text-align: left;
      white-space: nowrap;
    }
    .o-ico {
      position: absolute;
    }
    #{$module}__ico {
      &-left,
      &-right {
        top: 50%;
        transform: translateY(-50%);
      }
      &-left {
        @include sas-rem( ( font-size: 48px, left: 20px));
      }
      &-right {
        @include sas-rem( ( right: 12px, font-size: 24px));
      }
    }
    #{$module}__note {
      @include sas-rem( ( margin-top: 5px, font-size: 13px));
      color: $color-raven;
      font-weight: 300;
    }
  }
  &--xsm,
  &--sm,
  &--xl {
    border-radius: 8px;
  }
  &--xsm {
    @include sas-rem(height, 32px);
  }
  &--sm {
    @include sas-rem(height, 40px);
    #{$module}__ico-wrap {
      font-weight: 500;
    }
  }
  &--xl {
    @include sas-rem( ( font-size: 16px, height: 56px));
  }
  &--auto {
    width: auto;
  }
  &--active,
  &:disabled {
    pointer-events: none;
  }
  &:disabled {
    opacity: 0.5;
  }
  &--active,
  &:hover,
  &:active {
    border-color: transparent;
    #{$module}__note,
    .o-ico {
      color: inherit;
    }
  }
  &:hover {
    background-color: $color-dark-cerulean;
    color: $color-white;
  }
  &--active,
  &:active {
    background-color: $color-silver;
    color: $color-night-rider;
  }
}