// Iconos
// -------------------------

.o-ico {
  @include sas-rem(font-size, 24px);
  color: $color-white;
  display: block;
  &--sm {
    @include sas-rem(font-size, 16px);
  }
  &--lg {
    @include sas-rem(font-size, 32px);
  }
  &--xl {
    @include sas-rem(font-size, 46px);
  }
  &--dusk {
    color: $color-cerulean;
  }
  &--halo {
    @include sas-rem((width: 40px, height: 40px, line-height: 40px));
    @include sas-transition(all);
    flex: none;
    position: relative;
    text-align: center;
    &::before {
      background-color: rgba($color-cerulean, 0.1);
      border-radius: 50%;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    &:hover {
      color: $color-white;
      &::before {
        background-color: $color-cerulean;
      }
    }
  }
}
